<html>
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone.js"></script>
  </head>
  <body>
    <div id='muppets-app'>
      <ul id='muppets-list'>
      </ul>
    </div>

    <script type="type/template" id="muppets-item-tmpl">
      <p><a href="/muppets/<%= id %>"><%= name %></a></p>
      <p>Job:<i><%= occupation %></i></p>
    </script>
    <script src="/static/index.js"></script>
  </body>
</html>
